.App {
  text-align: center;
}

.table{
  width: 80%;
  border-collapse: separate;
  border-spacing: 5%;
  margin-top: 10px;
}

.App {
  color:rgba(255, 255, 255, 0.9);
  background: rgb(250,250,250,.3);
}

.th{
  margin-top: 0%;
  border-style: solid;
}
.App {
  background-size: contain;
  margin-top: 0%;
  padding-top: 120%;
  padding: 3%;
  border-style: solid;
}

.td {
  border-style: solid;
}

tr, .th, th, thead, .thead, .td, td, header {
    opacity: 100%;
    }
    


img{
  width: 60%;
  text-align: right;
  margin-top: 8%;
}
img:hover{
  width: 85%;
  text-align: right;
}

.datatable .col {
  cursor: pointer;
}

.datatable .col .pointer:after {
  font-size: 80%;
  content: "";
  /* margin-right: 18px; */
}

.datatable .col .pointer:hover:after {
  font-size: 80%;
  content: "🔻";
  margin-right: 0;
  color: white;
}

.App-logo {
  src: url("./logo192.png"); 
  height: 36vmin;
  pointer-events: visibleFill;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
/* .thead{ */


.App-header {
  background: rgb(0,0,0,0.6);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr, .th, th, thead, .thead, .td, td {
    border-style: solid;
    border-color: rgb(250,250,250);
    background: #222222;
    color: white;
    opacity: 100%;
   FONT-WEIGHT: 500;
}

.bg-light {
    background-color: rgb(250,250,250, 0)!important;
}

 .form-control {
    display: block;
    width: 90%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 4;
    color: black;
    background-color: yellowgreen;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group-text {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 4; */
    color: white;
    background-color: rgba(5, 90, 50, 1);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 90%;
    color: black;
}

.main-footer {
    text-align: center;
    padding: 5px;
    background: #030303;
    color: #ffffff;
    height: inherit;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header{
      background-image: url("./folderG72.png");
      text-shadow: 25pt;
      -webkit-text-stroke: .5px wheat;
      font-size: x-large;
      font-weight: bolder;
    color: rgb(58, 43, 15);
    background-repeat: no-repeat;

}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}